*{
    margin:0;
    padding:0;
}
.menu-container{
    background-color: gray;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}
#logo1{
    width:160px;
}
.menus-area{
    list-style: none;
    display:flex;
    color:white;
}
.list{
    margin-left:40px;
    font-size:20px;
}
.section1{
    background-size: 100vh;
    background-image: url("images/");
    display:flex;
}
#banner1{
    
}