*{
    margin:0;
    padding:0;
}
.menu-container{
    background-color: gray;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}
#logo1{
    width:160px;
}
.menus-area{
    list-style: none;
    display:flex;
    color:white;
}
.list{
    margin-left:40px;
    font-size:20px;
}
.banner-area1{
    background-image: url("/images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53,53,53));
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-around;

    
}
.text-area1{
   color:white;
}
#heading1{
    font-size: 50px;
    margin-bottom:10px;
}
#p1{
    margin-bottom:10px;
}
#btn{
    background-color: red;
    border:none;
    padding:10px;
    border-radius:2px;
}
#banner1{
    width:350px;
}
.banner-area2{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.heading-area1{
    text-align: center;
    font-size:20px;
    margin:30px 0;
    
}
hr{
    width:76%;
    margin:auto;
}
#heading3{
    margin-bottom:10px;
    font-size: 40px;
}
#p2{
    margin-bottom:10px;
}
#banner2{
    width:300px;
}

#btn1{
    background-color: red;
    border:none;
    padding:10px;
    border-radius:2px;
}
.about-area{
    height:70vh;
}
.service-area{
    height: 500px;
}
.icon-area{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.icon-small{
    width:50px;
    
    
}
.box1{
    background-color: #636e72;
    width:150px;
    height:200px;
}
.box2{
    background-color: #636e72;
    width:150px;
    height:200px;
}
.box3{
    background-color: #636e72;
    width:150px;
    height:200px;
}